@use "global" as *;

.c-below-mv {
    color: $white;
    text-align: center;
    position: relative;
    height: rem(358);
    background: url(../images/below/below-mv.webp) center center / cover no-repeat;

    @include mq(md) {
        height: rem(400);
    }
}

.c-below-mv__inner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding-inline: rem(15);
}

.c-below-mv__sub-title {
    width: 100%;
    margin-inline: auto;
    height: auto;
}

.c-below-mv__sub-title--case {
    max-width: rem(153);

    @include mq(md) {
        max-width: rem(173);
    }
}

.c-below-mv__sub-title--download {
    max-width: rem(143);

    @include mq(md) {
        max-width: rem(130);
    }
}

.c-below-mv__sub-title--company {
    max-width: rem(135);

    @include mq(md) {
        max-width: rem(148);
    }
}

.c-below-mv__sub-title--service {
    max-width: rem(100);

    @include mq(md) {
        max-width: rem(140);
    }
}

.c-below-mv__sub-title--contact {
    max-width: rem(127);

    @include mq(md) {
        max-width: rem(120);
    }
}

.c-below-mv__sub-title--meeting {
    max-width: rem(121);

    @include mq(md) {
        max-width: rem(113);
    }
}

.c-below-mv__sub-title--policy {
    max-width: rem(100);

    @include mq(md) {
        max-width: rem(113);
    }
}

.c-below-mv__sub-title--404 {
    max-width: rem(260);

    @include mq(md) {
        max-width: rem(170);
    }
}

.c-below-mv__sub-title--well {
    max-width: rem(166);

    @include mq(md) {
        max-width: rem(148);
    }
}

.c-below-mv__sub-title img {}

.c-below-mv__title {
    font-weight: 700;
    font-size: rem(30);
    letter-spacing: 0.13em;
    line-height: calc(36 /30);

    @include mq(md) {
        font-size: rem(20);
        line-height: calc(35 / 20);
    }
}

.c-below-mv__message {
    letter-spacing: 0.18em;
    margin-top: rem(37);

    @include mq(md) {
        margin-top: rem(27);
        letter-spacing: 0.02em;
        line-height: 2;
        margin-inline: auto;
        text-align: left;
        width: fit-content;
        max-width: 100%;
    }
}

.c-below-mv__message--short {
    @include mq(md) {
        // max-width: rem(290);
        // width: 100%;

        // text-align: left;
        // width: fit-content;
        // max-width: 100%;
    }
}