@use "global" as *;

.c-btn {
  background-color: $white;
  color: $blue04;
  border: 1px solid $blue04;
  border-radius: 3.5px;
  text-align: center;
  padding: rem(10);
  width: 100%;
  display: block;
  transition: all 0.3s ease-out 0s;
}

@media (hover: hover) {
  .c-btn:hover {
    background-color: $blue04;
    color: $white;
    border: 1px solid $white;
  }
}