@use "global" as *;

.p-common-service--top {
    padding-bottom: rem(98);

    @include mq(md) {
        padding-bottom: rem(57);
    }
}

.p-common-service--below {
    padding-top: rem(41);
    padding-bottom: rem(54);
    background-color: $white02;

    @include mq(md) {
        padding-top: rem(41);
        padding-bottom: rem(54);
    }
}

.p-common-service__lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(57) rem(30);

    @include mq(md) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.p-common-service__list {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: 0;
    position: relative;

    @include mq(md) {
        grid-template-rows: initial;
    }
}


.p-common-service__list-img {
    display: block;
    position: relative;
    overflow: hidden;
    height: auto;
    max-width: rem(310);
    width: 100%;

    @include mq(md) {
        max-width: 100%;
    }
}

.p-common-service__list-img img {
    overflow: hidden;
    object-fit: cover;
    transition: transform .8s;
    aspect-ratio: 309/174;
    height: auto;

    @include mq(md) {
        aspect-ratio: 289/162;

    }
}

@media (hover: hover) {

    .p-common-service__list-btn:hover .p-common-service__list-img img,
    .p-common-service__list:hover .p-common-service__list-img img {
        transform: scale(1.2);
        transition: transform .8s;
    }

    .p-common-service__list:hover .p-common-service__list-title,
    .p-common-service__list:hover .p-common-service__list-text {
        opacity: .6;
    }

    .p-common-service__list:hover .c-btn {
        background-color: $blue04;
        color: $white;
        border: 1px solid $white;
    }
}



.p-common-service__list-title {
    margin-top: rem(24);
    color: $blue;
    font-weight: bold;
    font-size: rem(18);
    letter-spacing: 0.23em;
    transition: all 0.3s ease-out 0s;

    @include mq(md) {
        font-size: rem(16);
    }
}

.p-common-service__list-text {
    transition: all 0.3s ease-out 0s;

    @include mq(md) {
        font-size: rem(14);
        letter-spacing: 0.02em;
    }
}

.p-common-service__list-btn {
    margin-top: rem(25);

    @include mq(md) {
        max-width: rem(400);
        width: 100%;
        margin-inline: auto;
    }
}