@use "global" as *;

/* カード型レイアウト */
.cards {
    text-align: left;
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
    display: grid;
    gap: rem(40) 3.333%;
    grid-template-columns: 1fr 1fr 1fr;

    @include mq('md') {
        grid-template-columns: 1fr 1fr;
    }

    @include mq('sm') {
        grid-template-columns: 1fr;
    }
}

.card {
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    display: flex;
    flex-direction: column;
    padding-left: 9.06%;
    padding-right: 9.06%;

    @include mq('md') {
        padding-left: 6%;
        padding-right: 6%;
    }
}

.card__img-wrapper {
    width: 100%;
    height: auto;
    padding-top: rem(15);
    overflow: hidden;

}

.card__img-wrapper img {
    aspect-ratio: 360/240;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease 0s;
}

.card:hover .card__img-wrapper img {
    transform: scale(1.2);
}

.card__body {
    padding-top: rem(16);
    padding-bottom: rem(27);

    @include mq('md') {
        padding-bottom: rem(20);
    }
}

.card__category {
    color: $white;
    background-color: black;
    border-radius: rem(20);
    padding: rem(7) rem(20);

    @include mq('md') {
        padding: rem(5) rem(20);
    }
}

.card__text {
    font-weight: 700;
    font-size: rem(14);
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    margin-top: rem(5);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__time {
    display: block;
    font-size: rem(16);
    margin-top: rem(20);
}