/********************************
* インナー
********************************/
$inner: 1040px;

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

/********************************
* フォント
********************************/
$base-font-family: "Noto Sans JP", sans-serif;
$sub-font-family: "Prata", serif;
$third-font-family: "Noto Serif JP", serif;

// フォントサイズ
$base-font-size: 16;

// フォントウェイト
$bold: 700;
$medium: 500;
$regular: 400;

/********************************
* カラー
********************************/
$white: #fff;
$white02: #F1F1F1;
$white03: #fdfdfd;
$black: #000000;
$black02: #585858;
$black03: #333333;
$black04: #1a1a1a;
$black05: #4D4D4D;
$black06: #222;
$black07: #333;
$blue: #2CA2DC;
$blue02: #3C426E;
$blue03: #3c426e;
$blue04: #1464b3;
$blue05: #1571d6;
$blue06: #2ca2dc;
$blue07: #1571da;
$blue08: #0070c5;
$gray: #707070;
$gray02: #ccc;
$green: #4cc364;


$white03: #F8F8F8;
$white04: #D8D4D1;
$gray03: #968f8a;
$brown: #CEC8C0;
$brown02: #6F3C14;

/********************************
* レイヤー
********************************/
$layer-modal: 100;
$layer-drawer: 40;
$layer-floating: 30;
$layer-header: 35;
$layer-footer: 10;
$layer-up: 2;
$layer-default: 1;
$layer-background: -1;