@use "global" as *;

.p-top-mv {
    position: relative;
    width: 100%;
    height: rem(512);
    background: url(../images/common/mv_img01.webp) center center / cover no-repeat;

    @include mq(sm) {
        background: url(../images/common/mv_img01-sp.webp) top 40% center / cover no-repeat;
        height: 365px;
    }

}

.p-top-mv__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-top-mv__inner {
    height: inherit;

}

.p-top-mv__lead {
    font-weight: bold;
    font-size: rem(30);
    color: $white;
    line-height: 1;
    letter-spacing: 0.13em;
    z-index: 5;
    position: relative;

    @include mq(md) {
        font-size: rem(20);
        letter-spacing: 0.13em;
    }
}

.p-top-mv__lead span:not(:first-child) {
    margin-top: rem(25);
    display: block;
}

.p-top-mv__btn {
    margin-top: rem(53);

    @include mq(md) {
        margin-top: rem(46);
    }
}

.p-top-mv__btn a {
    border: 2px solid $white;
    background-color: $blue;
    color: $white;
    border-radius: rem(6);
    padding: rem(21) rem(47);
    font-weight: bold;
    font-size: rem(16);
    letter-spacing: 0.23em;
    display: block;

    @include mq(md) {
        padding: rem(20) rem(33);
    }
}

.p-top-mv__link {
    margin-top: rem(20);
    font-size: rem(14);
    letter-spacing: 0.11em;
    text-decoration: underline;

    @include mq(md) {
        font-size: rem(12);
    }
}

.p-top-mv__link a {}