@use "global" as *;

.p-works-flow {
    background-color: $white02;
}

.p-works-flow__title-wrap {
    text-align: center;
}

.p-works__body {
    margin-top: rem(90);
    background: rgba(248, 248, 248, 0.80);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
    padding-block: rem(100);
    padding-left: rem(142);
    padding-right: rem(171);

    @include mq(md) {
        padding-block: rem(40);
        padding-left: rem(52);
        padding-right: rem(17);
        margin-top: rem(48);
    }
}

.p-works__list {
    display: flex;

    @include mq(md) {
        flex-direction: column;
    }
}

.p-works__list:not(:last-child) {
    padding-bottom: rem(40);

    @include mq(md) {
        padding-bottom: rem(32);
    }
}

.p-works__title {
    font-size: rem(24);
    font-weight: 500;
    line-height: 1.333;
    width: rem(240);
    max-width: 100%;
    flex-shrink: 0;
    position: relative;

    @include mq(md) {
        font-size: rem(16);
        line-height: 1.125;
    }

    &::after {
        display: block;
        content: "";
        position: absolute;
        width: rem(24);
        height: rem(24);
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: $black03;
        left: rem(-34);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: rem(2);

        @include mq(md) {
            width: rem(18);
            height: rem(18);
            left: rem(-25);
        }
    }
}

.p-works__list:not(:last-child) {
    position: relative;

    &::before {
        display: block;
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: $black03;
        margin-top: rem(20);
        left: rem(-34);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        @include mq(md) {
            left: rem(-25);
        }
    }
}

.p-works__detail {
    color: $gray02;
    margin-left: rem(48);

    @include mq(md) {
        margin-left: 0;
        margin-top: rem(14);
        font-size: rem(14);
        letter-spacing: .14px;
        line-height: 1.71429;
    }
}