@use "global" as *;


.p-case-study {
  padding-top: rem(196);
  padding-bottom: rem(101);

  @include mq(md) {
    padding-top: rem(40);
    padding-bottom: rem(43);
  }
}


.p-case-study__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(43) rem(30);

  @include mq(md) {
    grid-template-columns: repeat(1, 1fr);
    gap: rem(30);
  }
}


.p-case-study__pages {
  text-align: center;
  margin-top: rem(75);

  @include mq(md) {
    margin-top: rem(50);
  }
}

.c-card__industry {}

.c-card__number {}

.c-card__task {}

.p-case-study__pages {}


//崩れ防止
/* 画像の中央寄せ */
.aligncenter {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* figureタグで囲まれた画像の中央寄せ */
.aligncenter img {
  height: auto;
  max-width: 100%;
}

/* 画像右寄せ */
.alignright {
  height: auto;
  margin-left: auto;
  max-width: 100%;
}

/* figureタグで囲まれた画像右寄せ */
.alignright img {
  height: auto;
  max-width: 100%;
}

/* 位置指定のない画像 */
.alignnone {
  height: auto;
  max-width: 100%;
}

/* figureタグで囲まれた位置指定のない画像 */
.alignnone img {
  height: auto;
  max-width: 100%;
}

/* 自動折り返し有効化 */
pre {
  white-space: pre-wrap;
}