@use "global" as *;

/*==================================================================
# 共通
================================================================== */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    margin: 0;
    padding: 0;
    background: none;
    background-image: none;
    border-style: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    font-family: inherit;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: rem(16);
    padding: rem(10) rem(16);
    line-height: 1;
    width: 100%;
    // outline: 1px solid black;

    &:focus {
        border: 2px solid $black;
    }
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.p-form {
    margin-inline: auto;
    font-weight: 500;

    @include mq('md') {}
}

.p-form__item:not(:first-child) {
    margin-top: rem(24);
}

.p-form__items {
    margin-top: rem(45);
}

.p-form__item dt {
    padding: rem(8) rem(16);
}

.p-form__item dd {
    font-size: rem(16);
    // flex: 0 1 100%;
    // display: flex;
    // align-items: center;
}

textarea {
    height: rem(228);
}

.p-form__item-inline {
    display: inline-block;
    vertical-align: middle;
    color: red;
    font-size: rem(14);
    margin-left: rem(24);
}

.p-form__item-inline.p-form__item-inline--check {
    @include mq('md') {
        margin-left: 0;
    }
}

//submit
.p-form__submit {
    margin-top: rem(75);
    text-align: center;

    @include mq("md") {
        margin-top: rem(42);
    }
}


[type=submit] {
    height: 100%;
    width: 100%;
    max-width: rem(300);
    height: rem(60);
    margin-inline: auto;
    text-align: center;

}

.wpcf7-submit {
    background-color: pink;
}

.wpcf7-submit:disabled {
    opacity: .5;
}

.wpcf7-required-attention {
    // opacity: 0;
}

.wpcf7-required-attention.active {
    // opacity: 1;
}

//ファイル添付

.wpcf7 input[type="file"] {
    width: 100%;
    padding: rem(20);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

input[type="file" i]::-webkit-file-upload-button {
    background-color: $white;
    border-radius: rem(10);
    margin-right: rem(30);
}

.p-form__plivacy {
    margin-top: rem(56);
    letter-spacing: -0.03em;
}

.p-form__plivacy a {
    color: $blue08;
    text-decoration: underline;
    padding-right: rem(23);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background: url(../images/below/contact_icon01.svg) no-repeat center center/contain;
        width: rem(12);
        height: rem(12);
        top: 55%;
        transform: translateY(-50%);
        right: rem(5);
    }
}

.p-form__plivacy span {}

/* ラジオボタン */
.p-form-radio__item span {
    display: block;
    vertical-align: top;
}

.p-form-radio label {
    display: inline-block;

    @include mq(md) {
        display: block;
    }
}

.p-form-radio label:not(:first-of-type) {
    margin-top: 0;
    margin-left: rem(30);

    @include mq(md) {
        margin-top: rem(10);
    }
}

.p-form-radio input+span {
    padding: 0 0 0 rem(25);
    position: relative;
    font-size: rem(15);
    line-height: 1;
    cursor: pointer;
    display: inline-block;

    @include mq(md) {
        display: block;
    }
}

.p-form-radio input+span::before {
    content: "";
    width: rem(15);
    height: rem(15);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.p-form-radio input+span::after {
    content: "";
    padding: rem(2);
    width: rem(7);
    height: rem(7);
    position: absolute;
    top: 50%;
    left: rem(4);
    transform: translateY(-50%);
    border: 1px solid transparent;
    border-radius: 50%;
    background: #000;
    opacity: 0;
    transition: .3s;
}

.p-form-radio input:checked+span::after {
    opacity: 1;
}


//contact-form7
span.wpcf7-spinner {
    display: none;
}

.wpcf7-form.invalid .wpcf7-response-output {
    // display: none;
}

.wpcf7-form.sent .wpcf7-response-output {
    display: none;
}

.grecaptcha-badge {
    visibility: hidden;
}

.contact__grecaptcha {
    margin-top: rem(60);
    width: 60%;
    margin-inline: auto;

    @include mq('md') {
        margin-top: rem(40);
        width: 100%;
    }
}

.contact__grecaptcha a {
    border-bottom: 1px solid $black;
}