@use "global" as *;

/*==================================================================
# 共通
================================================================== */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    margin: 0;
    padding: 0;
    background: none;
    background-image: none;
    border-style: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $black06;
    font-family: inherit;
    background: $white;
    border-radius: 4.5px;
    font-size: rem(16);
    padding: rem(12) rem(15);
    line-height: 1;
    width: 100%;
    outline: 1px solid $gray03;

    @include mq(md) {
        font-size: rem(14);
    }

    &:focus {
        border: 2px solid $blue;
    }
}

input::placeholder,
textarea::placeholder {
    color: $gray02;

}

.p-form {
    margin-inline: auto;
    color: $black06;

    @include mq('md') {
        width: 100%;
    }
}

.p-form__item:not(:first-child) {
    margin-top: rem(29);
}

.p-form__item dt {
    font-weight: 700;
    font-size: rem(18);

    @include mq(md) {
        font-size: rem(16);
    }
}

.p-form__input {
    margin-top: rem(15);
}

.p-form__input-radio {
    margin-top: rem(15);

    @include mq(md) {
        margin-top: 0;
    }
}

textarea {
    height: rem(228);
}

.p-form__item-inline {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    background-color: $orange;
    font-size: rem(12);
    margin-left: rem(15);
    padding: rem(1) rem(8);
}

.p-form__item-inline--gray {
    background-color: $gray05;
}


.p-form__privacy {
    margin-top: rem(40);
    letter-spacing: -0.03em;
    color: $black03;
    text-align: center;

    @include mq(md) {
        margin-top: rem(34);
        letter-spacing: -0.05em;
    }
}

.p-form__privacy--download {
    margin-top: rem(56);
    text-align: left;

    @include mq(md) {
        margin-top: rem(22);
        text-align: center;
    }
}

.p-form__privacy a {
    color: $blue08;
    text-decoration: underline;
    padding-right: rem(23);
    position: relative;

    @include mq(md) {
        letter-spacing: -0.08em;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../images/below/contact_icon01.svg) no-repeat center center/contain;
        width: rem(12);
        height: rem(12);
        top: 55%;
        transform: translateY(-50%);
        right: rem(5);
    }
}

.p-form__privacy span {}

/* submit */
.p-form__submit {
    margin-top: rem(40);
    text-align: center;

    @include mq("md") {
        margin-top: rem(28);
    }
}

.p-form__submit--download {
    margin-top: rem(21);

    @include mq("md") {
        margin-top: rem(13);
    }
}

[type=submit] {
    height: 100%;
    width: 100%;
    max-width: rem(440);
    height: rem(80);
    margin-inline: auto;
    text-align: center;
    font-size: rem(22);

    @include mq(md) {
        font-weight: 700;
        font-size: rem(18);
        letter-spacing: 0.02em;
        max-width: rem(320);
    }

}

.p-form__submit--download [type=submit] {
    max-width: rem(400);

    @include mq(md) {
        max-width: rem(320);
    }

}

.wpcf7-submit {
    background-color: $blue;
    color: $white;
    border: 2px solid $blue;
    transition: all 0.3s ease-out 0s;
}

@media (hover: hover) {
    .wpcf7-submit:hover {
        background-color: $white;
        color: $blue;
    }
}

.wpcf7-submit:disabled {
    background-color: $gray04;
    opacity: .5;
    color: $gray02;
    border: none;
}


//ファイル添付
.p-form__file-text {
    margin-top: rem(26);
    line-height: 2;
    font-size: rem(14);
    color: $black;

    @include mq(md) {
        margin-top: rem(12);
        font-size: rem(12);
    }
}

.wpcf7 input[type="file"] {
    width: 100%;
    padding: rem(20);
    border-top: 1px solid $gray03;
    border-bottom: 1px solid $gray03;
    font-size: rem(14);
    color: $black07;
}

input[type="file" i]::-webkit-file-upload-button {
    background-color: $white;
    border-radius: rem(5);
    margin-right: rem(30);
    border-color: $gray03;
    border-width: 1px;
}


/* ラジオボタン */
.wpcf7-list-item {
    margin: 0;
}

.p-form-radio__item span {
    display: block;
    vertical-align: top;
}

.p-form-radio label {
    display: inline-block;

    @include mq(md) {
        display: block;
    }
}

.p-form-radio label:not(:first-of-type) {
    margin-top: 0;
    margin-left: rem(30);

    @include mq(md) {
        margin-top: rem(10);
    }
}

.p-form-radio input+span {
    padding: 0 0 0 rem(25);
    position: relative;
    font-size: rem(16);
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    color: $black06;

    @include mq(md) {
        display: block;
        font-size: rem(14);
    }
}

.p-form-radio input+span::before {
    content: "";
    width: rem(15);
    height: rem(15);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $white;
    border: 2px solid $gray03;
    border-radius: 50%;
}

.p-form-radio input+span::after {
    content: "";
    padding: rem(2);
    width: rem(7);
    height: rem(7);
    position: absolute;
    top: 50%;
    left: rem(4);
    transform: translateY(-50%);
    border: 1px solid transparent;
    border-radius: 50%;
    background: #000;
    opacity: 0;
    transition: .3s;
}

.p-form-radio input:checked+span::after {
    opacity: 1;
}


//contact-form7
span.wpcf7-spinner {
    display: none;
}

.wpcf7-form.sent .wpcf7-response-output {
    display: none;
}

.grecaptcha-badge {
    visibility: hidden;
}


.p-form__grecaptcha {
    margin-top: rem(56);
    font-size: rem(12);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.p-form__grecaptcha a {
    text-decoration: underline;
}

/* 横スクロール解消 */
.wpcf7-form-control-wrap {
    max-width: 100%;
    overflow: hidden;
}

.wpcf7-form-control {
    width: 100%;
    box-sizing: border-box;
}