@use "global" as *;

.p-privacy-policy {
    padding-top: rem(42);
    padding-bottom: rem(99);
    font-size: rem(18);
    color: $black06;

    @include mq('md') {
        padding-top: rem(29);
        padding-bottom: rem(70);
        font-size: rem(14);
    }
}

.p-privacy-policy__head {
    margin-top: rem(50);
    font-size: rem(28);
    line-height: 1;
    font-weight: 700;

    @include mq(md) {
        margin-top: rem(35);
        font-size: rem(20);
        line-height: calc(34 / 20);
    }
}

.p-privacy-policy__text {
    margin-top: rem(30);

    @include mq(md) {
        margin-top: rem(10);
        line-height: 2;
    }
}

.p-privacy-policy__text p,
.p-privacy-policy__text li {
    margin-top: rem(20);

    @include mq(md) {
        margin-top: 0;
    }
}

.p-privacy-policy__deco {
    position: relative;
    padding-left: rem(10);

    &::before {
        content: "";
        position: absolute;
        background-color: $black06;
        width: rem(6);
        height: rem(6);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

}