@use "global" as *;

.p-single-case {
    padding-top: rem(81);

    @include mq(md) {
        padding-top: rem(38);
    }
}

.p-single-case__company {
    font-weight: bold;
    font-size: rem(16);
    line-height: calc(20 / 16);
    color: $blue06;

    @include mq(md) {
        font-size: rem(12);
        line-height: calc(20 / 12);
    }
}

.p-single-case__title {
    margin-top: rem(10);
    font-weight: bold;
    font-size: rem(28);
    line-height: calc(38 / 28);

    @include mq(md) {
        font-size: rem(20);
        line-height: calc(30 / 20);
        margin-top: 0;
    }
}

.p-single-case__time {
    margin-top: rem(13);
    font-size: rem(14);
    line-height: calc(17 / 14);
    color: $black06;
    text-align: right;
    display: block;

    @include mq(md) {
        margin-top: rem(4);
        font-size: rem(10);
        line-height: calc(17 / 10);
    }
}

.p-single-case__title-box {
    max-width: rem(650);
    width: 100%;

    @include mq(md) {
        max-width: 100%;
    }
}

.p-single-case__body {
    display: flex;
    margin-top: rem(7);

    @include mq(md) {
        display: block;
        margin-top: rem(5);
    }
}

.p-single-case__main-content {
    max-width: rem(650);
    width: 100%;
    flex-shrink: 0;
    padding-bottom: rem(75);

    @include mq(md) {
        max-width: 100%;
        padding-bottom: rem(52);
    }
}

.p-single-case__main-img {
    display: block;
    max-width: rem(650);
    width: 100%;
    height: auto;

    @include mq(md) {}
}

.p-single-case__main-img img {
    aspect-ratio: 650/ 369;
    object-fit: cover;
    height: 100%;

    @include mq(md) {
        aspect-ratio: 290/ 163;
    }
}

.p-single-case__link-box {
    display: flex;
    align-items: center;
    border-radius: 999px 0 0 999px;
    background-color: $black07;
    color: $white;
    padding: 3px;
    max-width: rem(470);
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-top: rem(10);

    @include mq(md) {
        letter-spacing: -0.04em;
        max-width: calc(calc(275 / 290) * 100%);
    }
}

.p-single-case__link-label {
    display: block;
    max-width: rem(55);
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    border-radius: 50%;

    @include mq(md) {
        max-width: rem(36);
        font-weight: 400;
    }

}

.p-single-case__link-text {
    margin-left: rem(12);
    font-size: rem(14);
    line-height: calc(17 /14);
    white-space: nowrap;

    @include mq(md) {
        font-size: rem(10);
        margin-left: rem(10);
        line-height: 1.5;
        font-weight: 400;
    }
}

.p-single-case__link-btn {
    margin-left: rem(25);
    white-space: nowrap;

    @include mq(md) {
        margin-left: rem(12);
    }
}

.p-single-case__link-btn a {
    font-weight: 500;
    font-size: rem(14);
    letter-spacing: 0.21em;
    line-height: calc(17 / 14);
    background-color: $blue06;
    border-radius: 3.5px;
    display: block;
    padding: rem(15) rem(11);
    transition: all 0.3s ease-out 0s;

    @include mq(md) {
        font-size: rem(10);
        padding: rem(8) rem(8);
    }
}

@media (hover: hover) {
    .p-single-case__link-btn a:hover {
        background-color: $white;
        color: $blue06;
    }
}

.p-single-case__content {
    margin-top: rem(72);

    @include mq(md) {
        margin-top: rem(35);
    }
}

.c-entry-content {}

.p-single-case__btn {
    margin-top: rem(10);
}

.p-single-case__btn a {
    max-width: rem(310);
    width: 100%;
    margin-inline: auto;

    @include mq(md) {
        max-width: rem(400);
    }
}

.c-btn {}

.p-single-case__sidebar {
    margin-left: rem(30);

    @include mq(md) {
        margin-left: 0;
    }
}

.p-single-case__author-box {
    @include mq(md) {}
}

.p-single-case__author-title {
    font-size: rem(18);

    @include mq(md) {
        font-size: rem(16);
    }
}

.p-single-case__author-info {
    display: flex;
    align-items: center;
}

.p-single-case__author-img {
    border-radius: 50%;
    overflow: hidden;
    height: auto;
    max-width: rem(117);
    width: 100%;

    @include mq(md) {
        max-width: rem(110);
    }
}

.p-single-case__author-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;
}

.p-single-case__author-item {
    margin-left: rem(31);

    @include mq(md) {
        margin-left: rem(28);
    }

}

.p-single-case__author-name {
    @include mq(md) {
        font-size: rem(15);
    }
}

.p-single-case__author-sns {
    margin-top: rem(15);

    @include mq(md) {}
}

.p-single-case__author-list {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out 0s;
}

.p-single-case__author-list img {
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;
    width: rem(20);

    @include mq(md) {
        width: rem(19);
    }
}

.p-single-case__author-link {
    letter-spacing: -0.02em;
    text-decoration: underline;
    padding: .2em;
    color: $blue07;
    margin-left: rem(7);
    display: block;
    transition: all 0.3s ease-out 0s;

    @include mq(md) {
        font-size: rem(15);
        line-height: 1.2;
    }
}

@media (hover: hover) {
    .p-single-case__author-link:hover {
        opacity: .7;
    }
}